body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    overflow: hidden;
}

h1{
    margin: 0;
    padding: 12px;
    background: #8b0000;
    color: #fff;
}

.wrap{
    display: flex;
    height: calc(100vh - 54px);
}

.left{
    width: 250px;
    background: #fff;
    padding: 10px;
    border-right: 2px solid #ccc;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.right{
    flex: 1;
    padding: 10px;
    overflow: hidden;
}

.secret img{
    width: 100%;
    height: auto;
    max-height: 240px;
    object-fit: contain;
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: 100%;
    height: 100%;
}

.card{
    max-width: 180px;
    margin: 0 auto;

    position: relative;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.card img{
    width:100%;
    max-height:160px;
    object-fit:contain;
}

.card strong{
    display: block;
    font-size: 0.9rem;
    line-height: 1.1;
}

.card div{
    line-height: 1.1;
}

.off{
    filter: grayscale(100%);
    opacity: 0.25;
}

.off::after{
    content: "✖";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: red;
    font-weight: bold;
}

.count{
    font-size: 20px;
    font-weight: bold;
    margin-top:50%;
}

button{
    padding: 10px;
    margin: 4px;
}

#newGame{
    margin-top: auto;
}

#helpButton {
    position: absolute;
    top: 8px;
    right: 15px;

    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    user-select: none;
}

@media (max-height: 900px) {
    .card img {
        height: 130px;
    }
}

@media (max-height: 750px) {
    .card img {
        height: 100px;
    }

    .card strong {
        font-size: 0.8rem;
    }

    .card div {
        font-size: 0.8rem;
    }
}